html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Layout */
.main {
  padding: 2em;
}

.clockbox {
  position: relative;
  background: url('/clock.png') no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

/* Clock styles */
.circle {
  fill: none;
}

.mid-circle {
  fill: white;
  position: relative;
  z-index: 2;
}

.hour-arm {
  fill: none;
  stroke: #fff;
  stroke-width: 17;
  stroke-miterlimit: 10;
}

.minute-arm {
  fill: none;
  stroke: #fff;
  stroke-width: 11;
  stroke-miterlimit: 10;
}

.second-arm {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
  fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
  transform-origin: 300px 300px;
  /*transition: transform .5s ease-in-out; */
}



#patterns {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pattern {
  background: red;
  height: 50px;
  width: 50px;
}

h2, span {
  display: block;
  text-align: center;
}

a {
  color: rgb(54, 79, 190);
}